In [7]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from simpledbf import Dbf5
dbf = Dbf5('NPWS_Estate.dbf')
df = dbf.to_dataframe()
df.head()

,OBJECTID,NAME,NAME_SHORT,TYPE,IUCN,RES_NO,GAZ_DATE,VERDATE
0,1,Aberbaldie Nature Reserve,Aberbaldie NR,NATURE RESERVE,IA,N0902,2003-03-14,2022-03-31
1,2,Abercrombie Karst Conservation Reserve,Abercrombie KCR,KARST CONSERVATION RESERVE,III,N0350,1997-12-08,2022-03-31
2,3,Abercrombie River National Park,Abercrombie River NP,NATIONAL PARK,II,N0093,1995-12-22,2022-03-31
3,4,Abercrombie River State Conservation Area,Abercrombie River SCA,STATE CONSERVATION AREA,II,N1143,2010-05-21,2022-03-31
4,5,Adelyne CCA Zone 3 State Conservation Area,Adelyne CCAZ3 SCA,CCA ZONE 3 STATE CONSERVATION AREA,II,N1163,2011-01-01,2022-03-31

In [8]:
row_one = df.iloc[1]
row_one.OBJECTID

2